<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/default.css">
        <style>
            * {
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div class="menu-tab">
            <button class="navbutton" id="back"><img src="../assets/new_icons/ic_fluent_arrow_left_24_regular.svg"></button>
            <button class="navbutton" id="forward"><img src="../assets/new_icons/ic_fluent_arrow_right_24_regular.svg"></button>
            <button class="navbutton" id="refresh"><img id="ref" src="../assets/new_icons/ic_fluent_arrow_clockwise_24_regular.svg"></button>
            <div style="vertical-align: middle; padding-top: 11px;">
                <p id="title">Hello world</p>
            </div>
            <div style="display: flex; -webkit-app-region: drag; flex-grow: 1;"></div>
        </div>
        <div class="container" style="padding: 0 !important; display: flex;">
            <webview id="webview" allowpopups webpreferences="nativeWindowOpen=true" style="display: flex; width: 100%; border: none;"></webview>
        </div>
        <script src="../script/child.js" type="module"></script>
    </body>
</html>
