<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/variables.css">
        <style>
            * {
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div class="menu-tab">
            <button class="navbutton" id="back"><img src="../assets/back_1024.png"></button>
            <button class="navbutton" id="forward"><img src="../assets/forward_1024.png"></button>
            <button class="navbutton" id="refresh"><img src="../assets/refresh_1024.png"></button>
            <div style="vertical-align: middle; padding-top: 11px;">
                <p id="title">Hello world</p>
            </div>
            <div style="display: flex; -webkit-app-region: drag; flex-grow: 1;"></div>
            <ul class="navbars">
                <button class="navbutton" id="min"><img src="../assets/minimize_1024.png"></button>
                <button class="navbutton" id="maximize"><img src="../assets/maximize_1024.png" id="img-toggle"></button>
                <button class="navbutton" id="close"><img src="../assets/close_1024.png"></button>
            </ul>
        </div>
        <div class="container" style="padding: 0 !important; display: flex;">
            <iframe id="webview" style="display: flex; width: 100%; border: none;"></iframe>
        </div>
        <script src="../script/child.js" type="module"></script>
    </body>
</html>