<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" id="css" href="css/default.css">
    </head>
    <body>
        <div class="head">
            <div class="menu-tab">
                <div id="api-menu">
                    <button class="tab" onclick="openMenu(event, 'home')" id="home-tab"><img id="h" src="../assets/new_icons/ic_fluent_home_24_regular.svg">&nbsp;<strong id="home-txt">Home</strong></button>
                    <button class="tab"onclick="openMenu(event, 'library');" id="library-tab"><img id="l" src="../assets/new_icons/ic_fluent_library_24_regular.svg">&nbsp;<strong id="library-txt">Library</strong></button>
                    <button class="tab" onclick="openMenu(event, 'store'); fetchStores()" id="store-tab"><img id="st" src="../assets/new_icons/ic_fluent_shopping_bag_24_regular.svg">&nbsp;<strong id="store-txt">Store</strong></button>
                    <button class="tab" onclick="openMenu(event, 'settings')" id="settings-tab"><img id="s" src="../assets/new_icons/ic_fluent_settings_24_regular.svg">&nbsp;<strong id="settings-txt">Settings</strong></button>
                    <!--<button class="tab" style="display: none;" onclick="openMenu(event, 'minesweeper')" id="minesweeper-tab"><img src="../assets/minesweeper_1024.png"></button>-->
                </div>
                <div style="display: flex; -webkit-app-region: drag; flex-grow: 1; cursor: url('../assets/default.png'), default !important;"></div>
                <ul class="navbars" id="general">
                    <!--<button class="navbutton" id="secret"></button>-->
                    <button class="navbutton" id="add"><img id="ad" src="../assets/new_icons/ic_fluent_dismiss_24_regular.svg" style="transform: rotate(45deg);"></button>
                    <button class="navbutton" id="downloads"><img id="down" src="../assets/new_icons/ic_fluent_arrow_download_24_regular.svg"></button>
                        <button class="navbutton" id="minimize"><img id="min" src="../assets/new_icons/ic_fluent_subtract_24_regular.svg"></button>
                        <button class="navbutton" id="maximize"><img src="../assets/new_icons/ic_fluent_maximize_24_regular.svg" id="img-toggle"></button>
                        <button class="navbutton" id="close"><img id="cl" src="../assets/new_icons/ic_fluent_dismiss_24_regular.svg"></button>
                </ul>
            </div>
        </div>
        <div class="notification" id="notif">
            <h2 id="title-text">Notification</h2>
            <p id="text">%TEXT%</p>
            <br>
            <hr>
            <br>
            <h4>Click anywhere to dismiss</h4>
        </div>
        <div class="container" id="api-tabs">
            <div id="home" class="tabcontent">
                <div class="home">
                    <h1 id="welcome-back">Welcome back!</h1>
                    <br><br>
                    <button class="button" onclick="openMenu(event, 'library')" id="to-library">Go to library!</button>
                    <button class="button" onclick="recommendGames(cus)" id="ref-internet">Refresh internet connect</button>
                    <br><br>
		            <h2 id="rec-for-u">Recommended for you</h2>
                    <div id="recommend-list">
                        <br>
                        <div id="e" style="display: none; text-align: center;">
                            <img src="../assets/nointernet.svg" style="width: 150px !important;">
                            <br>
                            <br>
                            <h1 id="internet-discon">Internet disconnected 😥</h1>
                            <br>
                            <span id="l1">Don't fret, buddy! You still have a chance! All you need to do is to</span>
                            <br>
                            <span id="l2">your internet, then click the button to refresh! 😉</span>
                            <br>
                            <br>
                            <button class="button" onclick="recommendGames(cus)" id="retry-internet">Click me if you are done! 😉</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="library" class="tabcontent">
                <div class="library">
                    <h1 id="library-text">Library</h1>
                    <div id="game-list-alt"></div>
                </div>
            </div>
            <div id="store" class="tabcontent">
                <div class="store">
                    <h1 id="store-text">Store (WIP)</h1>
                    <button class="button" onclick="fetchStores();" id="refresh-store">Refresh Store</button>
                    <div id="store-list"></div>
                </div>
            </div>
            <div id="settings" class="tabcontent">
                <div class="settings">
                    <h1 id="settings-text">Settings</h1>
                    <div id="settings-list">
                        <h3>General settings</h3>
                        <button class="button" style="margin-top: 10px; margin-bottom: 10px;" id="games-open">Open games.json file</button>
                        <select id="lang" class="button">
                            <option value="am">አማርኛ</option>
                            <option value="arb">اللغة العربية</option>
                            <option value="id">Bahasa Indonesia</option>
                            <option value="jw">Basa Jowo (seng kasar)</option>
                            <option value="en">English</option>
                            <option value="es">Español</option>
                            <option value="fil">Filipino</option>
                            <option value="de">Deutsch</option>
                            <option value="nl">Nederlands</option>
                            <option value="sw">Kiswalihi</option>
                            <option value="jp">日本語</option>
                        </select>
                        <br>
                        <p>Styling</p>
                        <select id="cus-css" class="button">
                            <option value="css/default.css">Default Theme</option>
                            <option value="css/light.css">Light Theme</option>
                        </select>
                        <br>
                        <p>Custom recommendation JSON URL:</p>
                        <input type="text" id="cus-json" class="text" style="background-color: var(--main-color); width: 20%;" value="https://gray-crown.web.app/host/Game.json">
                    </div>
                    <h2 id="wine-settings">Wine Settings (Linux only)</h2>
                    <button class="button" style="margin-top: 10px; margin-bottom: 10px;" id="wine-cfg" onclick="spawnWine('cfg')" id="wine-config">Wine configuration</button>
                    <button class="button" style="margin-top: 10px; margin-bottom: 10px;" id="wine-tricks" onclick="spawnWine('tricks')">Winetricks</button>
                    <h2>Developer options</h2>
                    <button class="button" onclick="window.open('child.html?url=zeankundev.github.io/forward', 'blank', 'nodeIntegration=true,frame=false,width=933,height=600')">Test open child window</button>
                    <br><br>
                    <h1>Acknowledgements</h1>
                    <p>Add Game Code taken from <a href="https://github.com/Bobuxstation/Coal-Launcher/blob/5c9f3a33a5dff4a5b2635e82d5dfe117baaf0ceb/add.html#L44" target="_blank">coal-Launcher</a> and taken with permission.</p>
                </div>
            </div>
            <div id="minesweeper" class="tabcontent">
                <h1>Minesweeper</h1>
                <br>
                <div class="clearfix" style="display: inline;">
                <div id="game_container">
                    <!--placeholder for game -->
                </div>
                </div>

                <div style="display: inline-flex !important;">
                <div style="margin: 10px 0px;">
                    F = Flagged, M = Mine, Left Click to reveal a cell, Right Click to flag a cell
                </div>

                <div class="status_msg">
                    <strong>Mines Remaining:</strong> <span id="mine_count"></span>
                </div>
                <div class="status_msg">
                    <strong>Moves Made:</strong> <span id="moves_made"></span>
                </div>
                <div class="status_msg">
                    <strong>Game Status:</strong> <span id="game_status"></span>
                </div>

                <div style="margin: 10px 0px;">
                    <input id="validate_button" type="button" class="button" value="Did I win?" />
                </div>

                    <div style="margin: 8px 0px; display: inline;">
                        <label for="new_rows">Rows:</label>
                        <input type="number" class="button" id="new_rows" placeholder="rows" value="8" />
                        <label for="new_cols">Cols:</label>
                        <input type="number" class="button" id="new_cols" placeholder="cols" value="8" />
                        <label for="new_mines">Mines:</label>
                        <input type="number" class="button" id="new_mines" placeholder="mines" value="10" />
                        </div>
                        <div style="font-size: 10pt;">*max size: 19 x 19</div>
                        <input id="new_game_button" type="button" class="button" value="Create new game!" style="height: 50px !important;" />
                        <div>
                            <input id="cheat_button" type="button" class="button" value="Cheat!" />
                            <div style="font-size: 10pt;">*grid layout printed to JS console</div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="startup" id="startup" style="display: none;">
            <img class="startup-logo" src="../assets/logo_1024.png" style="width: 150px !important;">
            <br>
            <h1>
                Graycrown
            </h1>
            <reg-head>
                made by zeankun.dev.
                <br>
                &copy; 2023 zeankun.dev of Graycrown. All rights reserved.
                <br>
                This Project is Open Source to everyone!
                <br>
                <br>
            </reg-head>
            <reg-head><a href="https://paypal.me/ZIsnomo" target="_blank">Donate me on PayPal!</a></reg-head>
        </div>
        <div class="game-info" id="game-info" style="display: none;">
            <div class="title">
                <img src="../assets/new_icons/ic_fluent_arrow_left_24_regular.svg" id="bk">
                <h1 id="title">%title%</h1>
            </div>
            <div class="subclass">
                <div class="game-manage" style="display: block;">
                    <button class="play" id="pl"> Play</button>
                    <div class="information">
                        <div class="subinfo">
                            <img id="dv" src="../assets/new_icons/ic_fluent_people_24_regular.svg" style="width: 36px !important;" title="Developer">
                            <div class="part">
                                <h4>Developer</h4>
                                <reg-head id="developer">%developer%</reg-head>
                            </div>
                        </div>
                        <div class="subinfo">
                            <img id="fd" src="../assets/new_icons/ic_fluent_news_24_regular.svg" style="width: 36px !important;" title="Feed">
                            <div class="part">
                                <h4>Game feed</h4>
                                <reg-head id="feed">Click to open feed!</reg-head>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <br>
                    <h1>About the Game</h1>
                    <br>
                    <p id="desc">%desc%</p>
                </div>
            </div>
        </div>
        <div class="login" style="display: none;">
            <h1>Login to Graycrown</h1>
            <br>
            <div class="center">
                <input type="text" class="button" placeholder="Username">
                <br>
                <input type="password" class="button" placeholder="Password">
                <br>
                <button class="button">Login</button>
                <button class="button">Sign up</button>
            </div>
        </div>
        <div class="login" style="display: none;">
            <h1>Sign up for Graycrown</h1>
            <br>
            <div class="center">
                <reg-head>If you are under 13, you MUST ask your parent or guardian's permission to sign up for Graycrown. Your account will be permanently banned if you are signing up using a personal email if you are under 13.</reg-head>
                <br>
                <input type="email" class="button" placeholder="Email or parent email">
                <br>
                <input type="text" class="button" placeholder="Username">
                <br>
                <input type="password" class="button" placeholder="Password">
                <br>
                <input type="password" class="button" placeholder="Confirm password">
                <br>
                <button class="button">Sign up</button>
            </div>
        </div>
        <div class="modal" id="download-modal">
            <h1 id="downloads-text">Downloads</h1>
            <span class="close" id="close-modal">&times;</span>
            <br>
            <div id="download-list">
                <span id="no-downloads" id="no-downloads">No downloads. Check back soon!</span>
            </div>
        </div>
        <div class="modal" id="add-form">
            <h1>Add a game</h1>
            <span class="close" id="close-modal-add">&times;</span>
            <br>
            <div id="add-in-form">
                <label for="name">Game name: </label>
                <input id="name" type="text" class="text" />
                <br>
                <label for="id">Game ID: </label>
                <input id="id" type="text" class="text" />
                <br>
                <label for="icon">Icon: </label>
                <input id="icon" type="text" class="text" />
                <br>
                <label for="exec">Game executable: </label>
                <input id="exec" type="text" class="text" />
                <br>
                <input type="checkbox" id="is-wine" >
                <label for="is-wine"> Is it a Wine game?</label>
                <br>
                <button class="button" id="submit" onclick="submit()" style="align-self: center;">Done</button>
            </div>
        </div>
        <script src="../script/gamemenu.js"></script>
        <script src="../script/main.js"></script>
        <script src="../script/minesweeper.js"></script>
        <script src="../script/apis/NewTabCreator.js"></script>
    </body>
</html>
