@font-face {
  font-family: 'cartoon';
  src: url('../../assets/fonts/TF2.ttf');
}
@font-face {
  font-family: 'TF2 Head Light';
  src: url('../../assets/fonts/TF2-Regular.otf');
}
@font-face {
  font-family: 'game-serif';
  src: url('../../assets/fonts/ja-jp.ttf');
}
* {
    margin: 0;
    cursor: url('../../assets/default.png'), default;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 1;
  }
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.2) translateY(2px);
            transform: scale(1.2) translateY(2px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.2) translateY(2px);
            transform: scale(1.2) translateY(2px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}
@keyframes startup{
  0% {
    transform: scale(5);
  }
  29% {
      transform:  scale(0.5) rotate(45deg);
  }
  45% {
      transform:  scale(0.5) rotate(45deg);
  }
  64% {
      transform:  rotate(-45deg) scale(1.50);
  }
  78% {
      transform:  scale(1.00) rotate(0deg);
  }
  100% {
    transform:  scale(1.00) rotate(0deg);
  }
}
@keyframes h1pop {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  50% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000px);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-out-blurred-right {
  0% {
    transform: translateX(0);
    transform-origin: 50% 50%;
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    transform-origin: 0% 50%;
    filter: blur(40);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #3f3f3f;
}
::-webkit-scrollbar-track {
  background: #1d1d1d;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #1f1f1f;
}
::-webkit-scrollbar-track:active {
  background: #2e2e2e;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body {
    background: var(--main-color);
    color: var(--main-text);
    cursor: url('../../assets/default.png'), default;
    font-family: system-ui, 'Noto Sans Arabic';
    -webkit-font-smoothing: antialiased;
    user-select: none;
}
reg-head {
  font-family: 'TF2 Head Light', sans-serif;
  font-weight: 400 !important;
}
.menu-tab {
    display: flex;
    flex-direction: row;
    background: var(--main-color);
    cursor: url('../../assets/default.png'), default;
    color: var(--main-text);
    /*-webkit-app-region: drag;*/
}
#game_container {
    float: left;
    
    border: 1px solid #CCC;
    margin-bottom: 10px;
    padding: 15px;
  }
  
  .row
  {
    display: flex;
  }
  
  .cell {
    width: 35px;
    height: 25px;
    border: 1px solid #CCC;
    padding: 10px 5px 5px 5px;
  
    background-color: var(--main-color);
  
    font-size: 16px;
    text-align: center;
    
    cursor: url('../../assets/pointer.png'), auto;
    transition-property: background-color, box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }
  
  .cell::selection {
    background: transparent;
  }
  .cell.revealed, .cell.flagged {
    cursor: default;
    background-image: url('../../assets/minesweeper_1024.png') !important;
  }
  .cell.revealed {
    background-color: var(--main-color-hover);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .head {
    position: sticky;
    top: 0;
    z-index: 99999999999999999999999999999999999999999999999999999999999999;
  }
  @each $name, $value in $cellColors {
    .cell.adj-#{$name} {
      color: #{$value};
    }
  }
  .title {
    margin-bottom: 50vh;
    padding: 20px;
  }
  .cell.adj-M {
    font-family: "FontAwesome";
    background-color: #FFCCCC;
    
  }
  
  .cell.flagged {
    font-family: "FontAwesome";
    background-image: url('../../assets/minesweeper_1024.png') !important;
  }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  .status_msg {
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 28px;
  }
img {
    width: 20px;
}
.information {
  display: inline-flex;

}
.game-manage {
  display: flex;
}
.part {
  display: inline-block;
}
.subinfo reg-head {
  justify-content: center;
}
.subinfo {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.subclass {
  background-color: var(--main-hover-color);
  padding: 20px;
  min-height: 40vh;
}
.tab {
    padding: 12px;
    -webkit-appearance: none;
    border: none;
    outline: var(--main-text);
    outline: none;
    background: none;
}
.active {
    background-color: var(--main-hover-color);
    transition: all 0.3s ease-in-out;
}

.container {
    background: var(--main-hover-color);
    overflow-y: scroll;
    padding: 20px;
}
.navbars {
    margin-left: auto;
    order: 2;
}
.navbutton {
    padding: 12px;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: var(--main-color);
}
.navbars-mac {
  margin-left: 0;
  padding-left: 0;
}
.navbutton-mac {
  padding: 10px;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: var(--main-color);
}
.navbutton-mac img {
  padding-left: -5px;
}
.notification {
    background-color: var(--main-color);
    text-align: center;
    display: block;
    margin-top: 15px;
    animation: notif-popup 0.5s ease-out;
    padding: 5px;
    display: none;
}
@keyframes notif-popup {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
            opacity: 1;
  }
}
h1, h2, h3, h4, h5 {
  font-family: cartoon, game-serif, 'Noto Sans Arabic';
}
.navbutton:hover {
    background: var(--main-hover-color) !important;
}
.container {
    position: absolute;
    top: 47px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
object, iframe {
    width: 100%;
    height: 100%;
}
.button {
    background-color: var(--main-color);
    color: var(--main-text);
    margin-bottom: 10px;
    border: none;
    border-radius: 2pt;
    padding: 12px;
    font-family: system-ui, 'Noto Sans Arabic';
    cursor: url('../../assets/pointer.png'), auto;
}
.button:hover {
  background-color: var(--main-selected-disabled-color);
}
.game-display {
  background-color: rgba(15, 15, 15, 0.7);
  transition: all 0.2s ease;
  background-blend-mode: multiply;
  backdrop-filter: blur(12px);
  margin: 10px;
  padding: 10px;
  background-position-y: center;
  background-size: cover;
  display: inline-block;
  border-radius: 25px;
}
.game-display p {
  transition: all 0.2s ease !important;
}
.text {
  border: none;
  background: var(--main-hover-color);
  color: var(--main-text);
  padding: 5px;
  font-size: 15pt;
  outline: none;
  font-family: system-ui;
}
.login {
  background-color: var(--main-hover-color);
  z-index: 99999;
  min-height: 100vh;
}
.login h1 {
  font-size: 48pt;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.login .center {
  text-align: center;
}
#game-list {
    overflow-y: hidden;
    overflow-x: scroll;
    word-wrap: normal;
}
.game-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
h1 {
    display: inline;
}
.play {
    background-color: var(--play-color);
    border: none;
    display: inline-block;
    font-family: system-ui, 'Noto Sans Arabic';
    padding: 10px;
    border-radius: 15px;
    color: var(--main-text);
    width: 240px;
    transition: all 0.2s ease;
    cursor: url('../../assets/pointer.png'), auto;
}
.play:hover {
    background-color: var(--play-color-hover);
}
.startup-logo {
  display: block;
  animation: startup 2s ease normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.startup h1 {
  font-size: 48pt;
  margin-top: 30px; 
  animation: h1pop 2.5s ease;
  display: flex;
  justify-content: center;
}
.startup reg-head {
  display: flex;
  justify-content: center;
  text-align: center;
  animation: h1pop 2.5s ease;
}
a {
  text-decoration: none;
  color: var(--main-text);
}
.startup {
  background-color: var(--main-color);
  z-index: 99999;
  min-height: 100vh;
}
.stop {
  background-color: var(--stop-color);
  border: none;
  display: inline-block;
  font-family: system-ui, 'Noto Sans Arabic';
  padding: 10px;
  border-radius: 15px;
  color: var(--main-text);
  width: 240px;
  cursor: url('../../assets/pointer.png'), auto;
  transition: all 0.2s ease;
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.stop:hover {
  background-color: var(--stop-color-hover);
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.store-display {
    background: var(--main-color);
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 25px;
}
.recommend-display {
  background-color: rgba(0, 0, 0, 0.7) !important;
  background-blend-mode: multiply;
  margin: 10px;
  padding: 10px;
  animation: scale-down-center 0.2s ease-in-out;
  display: inline-block;
  border-radius: 25px;
}
.recommend-display:hover {
  animation: scale-up-center 0.2s ease-in-out;
  -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.store-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.download {
    background-color: var(--download-color);
    border: none;
    display: inline-block;
    font-family: system-ui, 'Noto Sans Arabic';
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    color: var(--main-text);
    width: 240px;
    cursor: url('../../assets/pointer.png'), auto;
}
.download:hover {
    background-color: var(--download-color-hover);
}
.game-info {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  animation: slide-in-blurred-right 0.5s ease-in-out both;
  display: block;
  min-height: 100vh;
  overflow-y: scroll;
}
.info {
  padding: 20px;
}
.game-info .top-layout {
  display: block;
  padding: 20px;
  padding-bottom: 25%
}
.game-info h1 {
  margin-left: 20px;
}
.game-info .bottom-layout {
  background-color: var(--main-hover-color);
  min-height: 80vh;
  padding: 20px;
  z-index: 999999999;
}
.modal {
    background-color: var(--main-color);
    width: fit-content;
    display: none;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute;
    top: 3%;
    left: 40%;
    padding: 10px;
    border-radius: 15px;
    z-index: 9;
    align-items: center;
}
select, input, textarea, #add-game-form button {
    background-color: var(--main-color);
    border: 1px solid var(--main-text);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.close {
    color: var(--main-text);
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 20px;
    cursor: url('../../assets/pointer.png'), auto;
}
.store-bg {
  filter: blur(4px);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-grow: 1;
}
