@font-face {
    font-family: 'Effra';
    src: url('../../assets/fonts/Effra_Trial_Rg.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Effra';
    src: url('../../assets/fonts/Effra_Trial_It.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Effra';
    src: url('../../assets/fonts/Effra_Trial_Bd.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Effra';
    src: url('../../assets/fonts/Effra_Trial_BdIt.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Averta';
    src: url('../../assets/fonts/averta-reg.woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Averta';
    src: url('../../assets/fonts/averta-bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'SF Text';
    src: url('../../assets/fonts/SFUIText-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'SF Text';
    src: url('../../assets/fonts/SFUIText-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'cartoon';
    src: url('../../assets/fonts/TF2.ttf');
}
@font-face {
    font-family: 'TF2 Head Light';
    src: url('../../assets/fonts/TF2-Regular.otf');
}
@font-face {
    font-family: 'game-serif';
    src: url('../../assets/fonts/ja-jp.ttf');
}
:root {
    --main-color: #d6d6d6;
    --main-hover-color: #eeeeee;
    --main-selected-disabled-color: #c9c9c9;
    --main-text: #303030;
    --play-color: #16c716;
    --play-color-hover: #2ae42a;
    --stop-color: #ff0b0b;
    --stop-color-hover: #ff2323;
    --download-color: #0362fc;
    --download-color-hover: #1e71f7;
}
#h {
    content: url('../../assets/new_icons/light/ic_fluent_home_24_regular.svg');
}
#l {
    content: url('../../assets/new_icons/light/ic_fluent_library_24_regular.svg');
}
#st {
    content: url('../../assets/new_icons/light/ic_fluent_shopping_bag_24_regular.svg');
}
#s {
    content: url('../../assets/new_icons/light/ic_fluent_settings_24_regular.svg');
}
#ad {
    content: url('../../assets/new_icons/light/ic_fluent_dismiss_24_regular.svg');
}
#down {
    content: url('../../assets/new_icons/light/ic_fluent_arrow_download_24_regular.svg');
}
#min {
    content: url('../../assets/new_icons/light/ic_fluent_subtract_24_regular.svg');
}
#img-toggle {
    content: url('../../assets/new_icons/light/ic_fluent_maximize_24_regular.svg');
}
#cl {
    content: url('../../assets/new_icons/light/ic_fluent_dismiss_24_regular.svg');
}
#horang {
    content: url('../../assets/new_icons/light/ic_fluent_puzzle_cube_24_regular.svg');
}
#dv {
    content: url('../../assets/new_icons/light/ic_fluent_people_24_regular.svg');
}
#fd {
    content: url('../../assets/new_icons/light/ic_fluent_news_24_regular.svg');
}
#gctv {
    content: url('../../assets/new_icons/light//ic_fluent_tv_24_regular.svg');
}
.recommend-display {
    background-color: rgba(0, 0, 0, 0.7) !important;
    background-blend-mode: multiply;
    margin: 10px;
    color: var(--main-hover-color);
    padding: 10px;
    display: inline-block;
    border-radius: 25px;
  }