:root {
    --main-color: #1d1d1d;
    --main-hover-color: #2e2e2e;
    --main-selected-disabled-color: #3f3f3f;
    --main-text: #fff;
    --play-color: #16c716;
    --play-color-hover: #2ae42a;
    --stop-color: #ff0b0b;
    --stop-color-hover: #ff2323;
    --download-color: #0362fc;
    --download-color-hover: #1e71f7;
}